{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": ["error", { "allow": ["info", "error"] }]
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
